<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="motoman_ros2_control" params="
            ns
            robot_ip
            use_mock_hardware:=^|false
            mock_sensor_commands:=^|false
            sim_gazebo:=^|false
            ">
        <ros2_control name="MotomanHardware" type="system">

            <!-- THIS IS JUST FOR REFERENCE! -->
            <!-- <xacro:macro name="configure_joint" params="joint_name initial_position">
                <joint name="${joint_name}">
                <param name="initial_position">${initial_position}</param>
                    <command_interface name="position_example"/>
                    <state_interface name="position_example">
                        <param name="initial_value">0.0</param>
                    </state_interface>
                </joint>
            </xacro:macro>
            <xacro:configure_joint joint_name="${ns}_joint1" initial_position="0.0"/> -->


            <hardware>
                <xacro:if value="${use_mock_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="mock_sensor_commands">${mock_sensor_commands}</param>
                </xacro:if>
                <xacro:unless value="${use_mock_hardware or sim_gazebo}">
                    <plugin>motoman_hardware/MotomanHardware</plugin>
                    <param name="udp_ip_address">${robot_ip}</param>
                    <param name="udp_port">50244</param>
                </xacro:unless>
                <!-- <param name="example_param_hw_start_duration_sec">2.0</param>
                <param name="example_param_hw_stop_duration_sec">3.0</param>
                <param name="example_param_hw_slowdown">2.0</param> -->
            </hardware>
            <joint name="joint_1_s">
                <command_interface name="position">
                <!-- <param name="min">-1</param> -->
                <!-- <param name="max">1</param> -->
                </command_interface>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_cmd">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="vel_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="joint_2_l">
                <command_interface name="position">
                <!-- <param name="min">-1</param> -->
                <!-- <param name="max">1</param> -->
                </command_interface>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_cmd">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="vel_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="joint_3_u">
                <command_interface name="position">
                <!-- <param name="min">-1</param> -->
                <!-- <param name="max">1</param> -->
                </command_interface>
                <state_interface name="position">
                    <param name="initial_value">0.7</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_cmd">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="vel_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="joint_4_r">
                <command_interface name="position">
                <!-- <param name="min">-1</param> -->
                <!-- <param name="max">1</param> -->
                </command_interface>
                <state_interface name="position">
                    <param name="initial_value">0.7</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_cmd">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="vel_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="joint_5_b">
                <command_interface name="position">
                <!-- <param name="min">-1</param> -->
                <!-- <param name="max">1</param> -->
                </command_interface>
                <state_interface name="position">
                    <param name="initial_value">0.7</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_cmd">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="vel_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="joint_6_t">
                <command_interface name="position">
                <!-- <param name="min">-1</param> -->
                <!-- <param name="max">1</param> -->
                </command_interface>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_cmd">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="pos_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="vel_fb">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
        </ros2_control>

    </xacro:macro>
</robot>





