<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="motoman_ros2_control" params="ns robot_ip">
        <ros2_control name="MotomanHardware" type="system">

            <!-- <xacro:macro name="configure_joint" params="joint_name initial_position">
                <joint name="${joint_name}">
                <param name="initial_position">${initial_position}</param>
                    <command_interface name="effort"/>
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                    <state_interface name="effort"/>
                </joint>
            </xacro:macro>
            <xacro:configure_joint joint_name="${ns}_joint1" initial_position="0.0"/> -->


            <hardware>
                <plugin>motoman_hardware/MotomanHardware</plugin>
                <!-- <param name="example_param_hw_start_duration_sec">2.0</param>
                <param name="example_param_hw_stop_duration_sec">3.0</param>
                <param name="example_param_hw_slowdown">2.0</param> -->
                <param name="udp_ip_address">${robot_ip}</param>
                <param name="udp_port">50244</param>
            </hardware>
            <joint name="joint_1_s">
                <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_2_l">
                <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_3_u">
                <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_4_r">
                <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_5_b">
                <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_6_t">
                <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

    </xacro:macro>
</robot>





