<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="motoman_hc10_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="joint_1_s">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_1_s']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_2_l">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_2_l']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_3_u">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_3_u']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_4_r">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_4_r']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_5_b">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_5_b']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_6_t">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_6_t']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
